@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration:none;
}

/* chrome and safari browser */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 204, 216);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(147, 152, 162);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(102, 105, 110);
}

/* microsoft edge browser */
::-ms-scrollbar {
  width: 6px;
}

::-ms-scrollbar-thumb {
  background-color: rgb(198, 204, 216);
  border-radius: 10px;
}

::-ms-scrollbar-thumb:hover {
  background-color: rgb(147, 152, 162);
}

::-ms-scrollbar-thumb:active {
  background-color: rgb(102, 105, 110);
}


@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-ms-scrollbar {
    width: 0;
  }
}